<!DOCTYPE html>
<html>
	<% var subtitle = "Support" %>
	<% include ../parts/head %>

	<br><br>

	<style>
		.iframe-container {
			position: relative;
			overflow: hidden;
			padding-top: 150%;
		}

		.iframe-container iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 0;
		}

		.padding-bottom a img {
			padding-bottom: 5px;
		}
	</style>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-9 col-lg-8 col-md-7">
				<h2 class="text-center">Support Bot Development</h2>
				<p class="text-center">
					Do you want to help make <%= client.user.username%> the best bot possible?!<br>
					If so, here's how you can help us out:

					<ul>
						<li>Find a bug? Report it! Our developers will take care of it as soon as possible.</li>
						<li>Spread the word! The more servers the bot is in, there will be more people to experience the bot.</li>
						<li>Join our <a href="https://discord.gg/vbYZCRZ">Discord Server</a>! You can express your opinion about the bot there as well as partake in development.</li>
						<li>Let us know what you think of the bot, and what we should add or change! We take your opinion seriously.</li>
						<li>Upvote the bots on <a href="https://discordbotlist.com/bots/<%= client.user.id %>">discordbotlist.com</a>, <a href="https://discordbots.org/bot/<%= client.user.id %>">discordbots.org</a> & <a href="https://discord.boats/bot/<%= client.user.id %>">discord.boats</a>.</li>
						<li>If you're a programmer, you can help out with <%= client.user.username%> development sending pull requests on our <a href="https://gitlab.com/Samplasion/yamamura-discord-bot">GitLab repository</a>. We're currently looking for help in regards to code cleaning and adding highly requested and complex features. We use Node.JS as the language backend alongside Discord.JS with Discord-Akairo</li>
						<li>Help <a href="https://jedayoshi.com">JeDaYoshi#7942</a> pay for a server by donating to his <a href="https://paypal.me/Naydire">PayPal</a>. Currently, <%= client.user.username%> is running on a VPS he's borrowing, but by donating, you can help maintain the server and buy a better one.</li>
						<li>Documentation is quite sparse at the moment. We need you to help fill it out by documenting what each command does and give descriptions to the command parameters. You can do so by Sending a Pull Request on our GitLab repository.</li>
						<li>Do you know another language? Help translate <%= client.user.username%></li>
					</ul>
				</p>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="iframe-container">
					<iframe src="https://discordapp.com/widget?id=562822754395619360&theme=dark" width="350" height="500" allowtransparency="true"></iframe>
				</div>
			</div>
		</div>
	</div>

	<br>
	<br>

	<div class="text-center image-container">
		<% for (const widget of widgets) { %>
			<a href="<%=widget.link%>">
				<img
					<% if(widget.size) { %> width="<%=widget.size.width%>" height="<%=widget.size.height%>" <% } %>
					src="<%=widget.imageurl%>"
					alt="<%=client.user.username%> stats on <%=widget.website%>"
					style="border-radius: 5px;"
				>
			</a>
		<% } %>
	</div>

	<!-- End content -->
	<% include ../parts/footer %>
</html>